body {
  background-color: #b4b4b4;
}

.container {
  text-align: center;
  margin: auto;
  height: auto;
  width: auto;
  border: 5px solid black;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
}

.static {
  background-color: blue;
}

.fieldBox {
    background-color: blue;
    border: 1px solid orange;
    width: 225px;
}

.stackable {
  background-color: red;
  float: none;
  margin: auto;
  display: inline-block;
}

.userInput h1, h2, h3, h4, h5, .container h1 {
  margin: 0px;
}




#js-google_map {
  height: 600px;
  width: auto;
  margin: 5px;
  border: solid rgba(0, 0, 0, 0) 2px;
  border-radius: 10px;
  display: none;
  opacity: .75;
}
#js-google_map:hover{
  opacity: .95;
}
.infoWindow {
  margin: 0;
  max-width: 350px;
  max-height: 250px;
}
.icon, .thumbnail {
  float: right;
}
h1 {
  text-decoration: underline;
}
.js-text p {
  font-size: small;
}
select {
  width: 150px;
  font: normal 11px verdana;
  color: #ffffffe6;
  background: #2f2319;
}
.searchTerms {
  width: 115px;
  color: #ffffff;
  background: #2f2319;
  border: 1px solid #a6a6a6;
  border-radius: 5px
}  
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #2f2319 inset;
    -webkit-text-fill-color: white !important;
}
#js-location-submit-button {
  color: #ffffffe6;
  background: #2f2319;
  border: 1px solid #a6a6a6;
  border-radius: 5px
}
::placeholder {
    color: white;
}
