body {
  background: rgb(236, 255, 250);
}

.main {
  background: rgb(95, 148, 190);
  margin: auto;
  height: 800px;
  width: 800px;
  border: 5px solid black;
  border-radius: 8px;
};

.titleText {
  /* margin: 5px; */
  text-align: center;
}

.titleText h1 {
  text-decoration: underline;
}

.js-searchBox {
  margin: 0 auto;
  text-align: center;
}

.js-forms {
  width: 280px;
  height: 80px;
  font: normal 10px verdana;
  text-align: center;
  margin: 40px auto;
  border: 5px rgb(171, 170, 170);
  border-style: outset inset inset outset;
  border-radius: 5px;
}
.js-text h4, h1, h3 {
  margin: 0;
}
select {
  width: 150px;
  font: normal 11px verdana;
  color: rgb(0, 0, 0);
  background: rgb(231, 231, 231);
}      
#js-google_map {
  height: 73%;
  width: 95%;
  margin: auto;
  border: solid rgba(0, 0, 0, 0) 5px;
  border-radius: 10px;
}
/* Optional: Makes the sample page fill the window. */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: rgb(173, 184, 250);
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: rgb(106, 198, 235);
  border: 5px solid rgb(6, 0, 65);
  border-radius: 5px;
  left: 33%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
} */